---
---

@import "{{ site.theme }}";

footer {
  display: none !important;
}

.btn {
  display: none !important;
}

.main-content h1, 
.main-content h2, 
.main-content h3, 
.main-content h4, 
.main-content h5, 
.main-content h6 {
  font-weight: 900;
  color: #000000;
}

.page-header { 
  background-color: #17181c;
  background-image: linear-gradient(120deg, #000000, #1f2130);
}
